/*头部样式*/
header{
  background: #24292e;
  height: 50px;
  width: 100%;
  color: rgba(255,255,255,0.75);
  font-size: 16px;    
  padding: 12px 0;
  box-sizing: border-box; 
  position: relative;
}
.container{
  width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
} 
header .logo img{
  width: 20px;
  height: 20px;
}
header ul{
  position: relative;
  display: inline-block;
} 
header ul li{
  list-style: none;
  float: left;
  margin: 0 30px;
  text-align: center;
}
header ul li:hover{
  cursor: pointer;
  color: #fff;
}
header .current-line{
  position: absolute;
  bottom: -12px;
  width: 75px;
  height: 3px;
  background: #fff;
  transition: left 1s;
}
header a:hover{
	text-decoration: none;
}
header a:visited{
	color: #fff;
}
header .list li:nth-child(1):hover ~ div{
  left: 10px;
  
}
header .list li:nth-child(2):hover ~ div{
  left: 100px;
}
header .list li:nth-child(3):hover ~ div{
  left: 210px;
}
header .list li:nth-child(4):hover ~ div{
  left: 320px;
}
header .user{
  float: right;
}
header .user ul li{
  margin: 0 10px;
  font-size: 15px;
}
ul li{
  list-style: none;
/*  height: 25px;
  width: 70%;*/
}
.ui-nav ul li{
display: inline-block;
}
button{
    width: 50px;
	  height: 25px;
	  background: #269f42;
	  color: #fff;
	  border-radius: 5px;
	  margin: 0 5px;
}
button:hover{
  cursor: pointer;
  background: #009fff;
}

.clearfix::after{
display: block;
content: '';
clear: both;
}

/*列表样式*/
/*列表头*/
.list-header{
  border-radius: 3px;
  font-weight: bold;
  line-height: 3;
  vertical-align: middle;
  background: #c3c3c3;
}
.list-header span{
  font-size: 14px;
}
.list-5col-index{
  display: inline-block;
  width: 5%;
  height: 100%;
  font-size: 12px;
}
.list-5col{
  display: inline-block;
  width: 24%;
  font-size: 12px;
  box-sizing: border-box;
}
.list-5col-l{
  width: 30%;
}
.list-5col-m{
  width: 23%;
}
.list-5col-s{
  width: 10%;
}
.list-5col button{
  display: inline-block;
  width: 35px;
  margin: 0 2px;
}
.list-button{

}
.list-content{

}
.page{
  height: 20px;
  margin: 10px auto;
  font-size: 0;
}
.page .prev, .page .next{
  width: 35px;
}
.page a{
  display: inline-block;
  padding: 0 2px;
  width: 20px;
  line-height: 2;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e1e4e8;
  font-size: 12px;
  color: #2196F3;
}
.page a:hover{
  cursor: pointer;
}
.page a.active{
  background: #2196F3;
  color: #fff;
}
/*尾部样式*/
footer{
 /* position: fixed;
  bottom: 0;*/
  width: 100%;
  height: 30px;
  background: #24292e;
}