header .current-line{
  left: 10px;
}
/*搜索/添加*/
  .ui-function{
      height: 30px;
      margin: 10px auto;
    }
    .ui-function button{
      width: 70px;
      height: 25px;
      background: #269f42;
      color: #fff;
      border-radius: 5px;
      margin: 0 5px;
    }
    .ui-function button:hover{
      cursor: pointer;
      background: #009fff;
    }
    .ui-search{
      width: 40%;
      height: 100%;
      border: 1px solid #000;
      border-radius: 5px;
    }

/*接口列表*/
  .ui-interface-list{
    height: 400px;
    font-size: 0;
  }
    .ui-interfaces, .ui-interfaces li{
      width: 100%;
      overflow: hidden;
    }
    .ui-interfaces li{
      height: 30px;
      box-sizing: border-box;
      padding-left: 5px;
      vertical-align: middle;
      border-radius: 2px;
      border: 1px solid #2196F3;
      border-top: 0;
    }
    .ui-interface-list span{
      display: inline-block;
      height: 100%;
      line-height: 2;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: middle;
      padding-left: 4px;
      box-sizing: border-box;
    }
    .ui-interfaces ul li:nth-child(2n){
      /*background: #c4e0e8;*/
    }
    .ui-interfaces ul li:nth-child(2n + 1){
      /*background: #f7cfd6;*/
    }

/*添加一个接口*/
    .ui-interface{
      width: 800px;
      height: 700px;
      /*overflow: scroll;*/
      display: none;
      position: absolute;
      top: 100px;
      left: 200px;
      background: lightblue;
    }
    .ui-interface header{
      width: 100%;
      height: 40px;
      background: #009fff;
      text-align: center;
      vertical-align: middle;
    }
    .ui-content{
      width: 90%;
      margin: 10px auto;
    }
    .ui-content input, .ui-content select{
      text-indent: 2px;
      margin: 2px;
      width: 200px;
      height: 25px;
      box-sizing: border-box;
      border-radius: 5px;
    }
    .ui-content span{
      display: inline-block;
      width: 90px;
      text-align: right;
      box-sizing: border-box;
      padding-right: 5px;
      border-radius: 5px;
    }
    .ui-interface button{
      width: 70px;
      height: 25px;
      background: #269f42;
      color: #fff;
      border-radius: 5px;
    }
    .ui-interface button:hover{
      cursor: pointer;
      background: #009fff;
    }
    .ui-name:hover{
      cursor: pointer;
    }
    .ui-interface .ui-body{
      height: 100px;
      width: 300px;
    }