/*第一页的欢迎内容*/
.first-page{
    /*充满整个页面法一*/
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /*充满整个页面法二*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.greet{    
    font-size: 20px;
    padding: 0 20px;
}
.btn{
    font-size: 18px;
    border: 1px solid #ccc;
    background: transparent;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
}
/*第二页是聊天部分*/
.second-page{
    display: flex;
    flex-direction: column;
}
.second-page .icon{
    display: inline-block;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    /*怎么显示一个icon svg显示*/
    background-size: 100%;
    align-items: center;
}
.second-page .back-icon{
    background-image: url('./icon/back.svg');
}
.second-page .people-icon{
    background-image: url('./icon/people.svg');
    margin-right: 5px;
}
.second-page .voice-icon{
    background-image: url('./icon/voice.svg');
}
.second-page .add-icon{
    background-image: url('./icon/add.svg');
}
.second-page .smile-icon{
    background-image: url('./icon/smile.svg');
}
.second-page header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #2b2b2b;
    font-size: 15px;
    color: #fff;
}
.second-page header span{
    vertical-align: middle;
}

/*新加一个类，这样可以更通用，而不是每次去改css样式*/
.hide{
    display: none;
}

/*常用这个来表示头像*/
.avatar{
    width: 40px;
    height: 40px;
}
main{
    position: fixed;
    top: 45px;
    bottom: 45px;
    width: 100%;
    padding: 10px;
    transition: bottom .3s;
    overflow: scroll;
}
.show-selector main{
    margin-bottom: 200px;
}
.msg{
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.msg-left{
    flex-direction: row;
}
.msg-right{
    flex-direction: row-reverse;
}
.msg>i{    
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}
.msg-left>i{
    background-image: url('./icon/girl.svg');
}
.msg-right>i{
    background-image: url('./icon/boy.svg');
}
.msg>p{
    position: relative;
    max-width: 70%;
    border-radius: 5%;
    padding: 5px;
}
.msg-left>p{
    margin-left: 15px;
    background: #fff;
}
.msg-left>p::before{
    content: "";
    position: absolute;
    display: block;
    top: 5px;
    left: -5px;
    transform: rotateZ(45deg);
    z-index: -1;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 30%;   
}
.msg-right>p{
    margin-right: 15px;
    background: #55c75a;
}
.msg-right>p::after{
    content: "";
    position: absolute;
    display: block;
    top: 5px;
    right: -5px;
    transform: rotateZ(45deg);
    z-index: -1;
    width: 10px;
    height: 10px;
    border-radius: 30%;  
    background: #55c75a;
}
.second-page footer{
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: space-around;
    transition: bottom .3s;
    background: #fff;
}
.show-selector footer{
    bottom: 155px;
}
footer .input-msg{
    display: inline-block;
    height: 80%;
    flex-grow: .8;
    border: 1px solid;
}
.answer-list{
    position: fixed;
    display: flex;
    width: 100%;
    height: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: height .3s;
}
.show-selector .answer-list{
    height: 155px;
}
.result{
    display: none;
    position: absolute;
    align-self: center;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: 20%;
    padding: 10px;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    border-radius: 10px;
    background: #fff;
}
.tips-icon{
    display: flex;
    justify-content: space-between;
}
.replay-icon{
    background-image: url('./icon/replay.svg');
}
.share-icon{
    background-image: url('./icon/share.svg');
}