body, div{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	background: linear-gradient(to left, #3F51B5,#03A9F4,#8eb5e9);
	color: #fff;
}
body h1, body h2{
	letter-spacing: 5px;
	text-align: center;
	color: #FF4500;
    text-shadow: 5px 5px 5px #faf2ac;
}
.ui-rule{
	text-align: center;
    font: 20px/20px Arial;
}
body>div{
	width: 670px;
	height: 700px;
	background-image: url("../bg.jpg");
	border-radius: 20px;
    border: 3px solid #fff;
    float: left;
    margin-left: 30px;
    position: relative;
}
.left{
	width: 400px;
	height: 600px;
	border: 1px solid #fff;
	border-left: none;
	border-top: none;
	float: left;
	position: relative;
	margin-left: 10px;
}
button{
	width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 23px;
    color: #fff;
    background: #34a112;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	outline: 0;
}
button:hover{
	box-shadow: 0 0 10px 0 #ffeb3b;
}
.right{
	float: left;
	margin-left: 10px;
	width: 200px;
	height: 200px;
	border: 1px solid #fff;
	border-left: none;
	border-top: none;
	vertical-align: top;
}
.msg{
	display: none;
	width: 200px;
    height: 100px;
    position: absolute;
    background: rgba(255, 0, 0, 0.72);
    z-index: 1;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    text-align: center;
    font: 33px/100px Arial;
    color: #05ffe8;
}
.info{
	width: 201px;
    float: left;
    margin: 10px 0 0 10px;
    font-size: 20px;
}
.left div, .right div{
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	border-right: none;
	border-bottom: none;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}
.none{
	
}
.current{
	background-color: #ff4282;
}
.done{
	background-color: #42681d;
}