.public-header{
	height: 110px;
}

/*public-container来写居中容器*/
.public-container{
	position: relative;
	margin: 0 auto;
	width: 1100px;
}

.public-header-logo{
	background: url("../image/public-header-logo.jpg");
	width: 181px;
	height: 54px;
	float: left;
	margin-top: 40px;
}
.public-header-link{
	float: right;
	margin-top: 47px;
}
.public-header-link .item{
	float: left;
	margin-left: 50px;
}
.public-footer{
	height: 218px;
	padding-top: 100px;
	background: #3b3b3b;
}
.public-footer-list{
	/*这个没有预期效果，container高度为0*/
	/*margin-top: 100px;*/
}
.public-footer .item{
	width: 230px;
	margin-right: 59px;
	color: #fff;
	float: left;
	line-height: 28px;
}
.public-footer .item a{
	color: #fff;
}
.public-footer .item:last-child{
	margin-right: 0;
}
.public-footer-logo{
	background: url(../image/public-footer-logo.png);
	width: 182px;
	height: 55px;
	margin-top: -15px;
}
.public-footer .pixelhint{
	display: inline;
}