<header>
<nav class="container">
<a class="logo">
logo图
<img src=""/>
</a>
<ul class="list">
<li>
  <a href="/main" alt="所有接口列表">接口</a>
</li>
<li>
  <a href="/project" alt="项目列表" id="js-project">项目</a>
</li>
<li>
  <a href="/main/visitRecord" alt="mock访问记录" id="js-visit-record">mock记录</a>
</li>
<li>
  <a alt="关于">关于</a>
</li>
<div class="current-line"></div>
</ul>
<div class="user">
<ul>
<li>名字</li>
<li>
<a>登出</a>
</li>
</ul>
</div>
</nav>
</header>