<!DOCTYPE html>
<html>
<head>
	<title>mock记录</title>
  <link rel="stylesheet" type="text/css" href="./reset.css">
  <link rel="stylesheet" type="text/css" href="./common.css"> 
  <link rel="stylesheet" type="text/css" href="./visitRecord.css"> 
</head>
<body>
<%- include("./header.ejs")%>
<section class="container">
  <h1>mock记录</h1>
  <pre id="js-log" class="code"></pre>
</section>
<%- include("./footer.ejs")%>
<script type="text/javascript" src="/myAjax.js"></script>
<script type="text/javascript" src="/record.js"></script>
</body>
</html>